body{
    font-family: "iran_sans";
    margin: 0;
}

@font-face {
    font-family: "iran_sans";
    src: url("../fonts/IRANSansX-Regular.woff2") format("woff");
}
@font-face {
    font-family: "iran_sans_bold";
    src: url("../fonts/IRANSans-Bold-web.woff2") format("woff");
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
h4{
    margin: 0;
}
p{
    margin: 0;
}
button{
    border: none;
    padding: 0;
    background-color: transparent;
}

:root{
    --primary_color: #ed6a00;
    --secondary_color: #003261;
    --white: #fff;
    --black: #000;
    --red: #cf000f;
    --border_color: #f5ab70;
}


/* ########## header ########## */

/* ##### top header ##### */

.main_wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.f_top_header{
    background-color: var(--secondary_color);
    padding: 0.3rem;
}
@media screen and (min-width: 1200px) {
    .f_top_header{
        padding: 0.1rem;
        padding-left: 7rem;
    }
}
.top_header{
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 1200px) {
    .top_header{
        justify-content: end;
        gap: 5rem;
    }
}
.time{
    color: var(--white);
    font-size: 0.65rem;
}
@media screen and (min-width: 780px) {
    .time{
        font-size: 0.8rem;
        font-weight: bold;
    }
}
@media screen and (min-width: 1200px) {
    .time{
        padding-top: 0.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .list_top_header{
        display: flex;
        gap: 3rem;
    }
}

.inner_list_header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.7rem;
}
.inner_list_header > li > a {
    color: var(--white);
    font-size: 0.65rem;
    display: block;
}
@media screen  and (min-width: 780px) {
    .inner_list_header > li > a{
        font-size: 0.8rem;
    }
}
@media screen  and (min-width: 1200px) {
    .inner_list_header{
        padding: 0;
        gap: 0.5rem;
        justify-content: end;
    }
}
.search_desktop{
    display: none;
}
.search_desktop > svg{
    display: block;
}
@media screen  and (min-width: 1200px) {
    .search_desktop{
        display: block;
        cursor: pointer;
    }
}

/* ##### bottom header ##### */

.bottom_header::after{
    clear: both;
    content: "";
    display: table;
}
.bottom_header::before{
    clear: both;
    content: "";
    display: table;
}

.bottom_header{
    background-color: var(--primary_color);
    padding: 0.2rem;
}
@media screen and (min-width: 1200px) {
    .b_h{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.second_bottom_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.merge_m_s{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menu_mobile > svg{
    display: block;
    cursor: pointer;
}
.search_mobile > svg{
    display: block;
    cursor: pointer;
}
@media screen and (min-width: 1200px) {
    .search_mobile{
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .menu_mobile{
        display: none;
    }
}

.logo_header > a{
    display: block;
}
.logo_header > a > img{
    display: block;
    width: 100%;
    height: auto;
}
.list_header_desktop{
    display: none;
}

@media screen and (min-width: 1200px) {
    .list_header_desktop{
        display: block;
        padding-right: 4rem;
    }
}
@media screen and (min-width: 1200px) {
    .sub_list_h_d{
        display: flex;
        gap: 1rem;
    }
    .sub_list_h_d > li > a{
        color: var(--white);
        font-size: 0.82rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }
    .sub_list_h_d > li:first-child > a{
        border-bottom: 2px solid #fff;
        
    }

}

.list_price_second{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.list_price_second > li{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.list_price_second > li > a{
    color: var(--black);
    font-size: 0.86rem;
    font-weight: bold;
}
.list_price_second > li > span{
    color: var(--red);
    font-size: 1.2rem;
    font-weight: bold;
}
.list_price_second > li > a >span{
    color: var(--red);
    font-size: 1.1rem;
}

@media screen and (min-width: 1200px) {
    .price_header_desktop{
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .sub_price_h_d{
        display: flex;
        gap: 0.7rem;
    }
    .sub_price_h_d > li > a > b{
        color: var(--red);
    }
    .sub_price_h_d > li > a{
        color: var(--black);
    }
}


/* ########## main body ########## */
/* ##### first part ##### */

.first_box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media screen and (min-width: 1200px) {
    .first_box{
        flex: 36%;
    }
}

.g_box{
    padding: 1rem;
    padding-bottom: 1.3rem;
    box-shadow: 0 0 7px 0 rgba(215,60,0,0.26);
}
.first_part{
    padding: 3rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


@media screen and (min-width: 1200px) {
    .first_part{
        flex-direction: row;
        gap: 1rem;
    }
}

.inner_box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header_inner_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header_inner_box h1 a{
    color: var(--primary_color);
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}
.header_inner_box h1{
    align-self: flex-start;
}
.header_inner_box > p{
    color: #888;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}

.inner_box > a > img{
    width: 100%;
    height: auto;
    display: block;
}
.inner_box > a{
    display: block;
}

@media screen and (min-width: 1200px) {
    .inner_box > a > img{
        width: auto;
        height: auto;
    }
}
.sub_bottom > li > a{
    color: var(--black);
    font-size: 0.85rem;
    font-weight: bold;
}
.sub_bottom > li{
    display: flex;
    gap: 1rem;
}

.sub_bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 1200px) {
    .sub_bottom{
        flex-direction: row;
        gap: 2rem;
    }
}
.g_item{
    color: var(--primary_color);
    font-size: 0.9rem;
}
.g_item_blue{
    color: var(--secondary_color) !important; 
}
.set_g_item{
    display: flex;
    justify-content: end;
    padding-top: 0.5rem;
}
.global_item{
    display: flex;
    justify-content: left;
    width: 100%;
}
.global_item > a{
    color: var(--primary_color) !important;
    font-size: 0.9rem;
    display: block;
    text-align: left;
    padding-top: 0.5rem;
}
.global_title_b{
    padding: 0.1rem 1rem;
    background-color: var(--secondary_color);
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    margin-top: 0;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: "iran_sans_bold";
}
.global_title_o{
    padding: 0.1rem 1rem;
    background-color: var(--primary_color);
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: "iran_sans_bold";
}
.global_title_r{
    padding: 0.1rem;
    background-color: var(--red);
    width: 5rem;
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    margin-top: 0;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "iran_sans_bold";
}
.global_pos{
    position: absolute;
    top: -1rem;
}
.t_t > p{
    padding: 0.5rem;
    background-color: var(--secondary_color);
    margin: 0;
}
.border{
    border-bottom: 1px solid var(--border_color);
    width: 75%;
    align-self: center;
}
.parent_border{
    justify-content: center;
}

.set_flex{
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}
@media screen and (min-width: 1200px) {
    .set_flex{
        align-items: center;
    }
}
.set_flex > a > img{
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
    display: block;
}

.top_second_item > li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}
.top_second_item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.top_second_item > li:last-child{
    border-bottom: none;
}
.set_flex > a{
    color: var(--black);
    font-size: 0.8rem;
    font-weight: bold;
}
.titr_em{
    position: relative;    
}
@media screen and (min-width: 1200px) {
    .titr_em{
        flex: 25%;
        margin-top: 0.5rem;
    }
}

.titr_emroz{
    position: absolute;
    right: 1.5rem;
    top: -0.8rem;
}
.titr_emroz > span{
    display: inline-block;
}
@media screen and (min-width: 1200px) {
    .scroll_right{
        padding-left: 0;
    }
    .distance{
        padding-left: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .second_part_top{
        overflow: auto;
        max-height: 32.2rem;
        padding-left: 0.5rem;
    }
}
.second_part_top > span{
    display: block;
}
.sub_part_three{
    color: var(--primary_color);
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sub_part_three > li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sub_part_three > li > div:first-child{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
}
.sub_part_three > li > div > a{
    color: var(--black);
    font-size: 0.85rem;
}
@media screen and (min-width: 1200px) {
    .sub_part_three > li > div > a{
        font-weight: normal;
        font-size: 0.8rem;
    }
}
.sub_part_three svg{
    flex-shrink: 0;
}

.havali_khabar{
    position: relative;
}
@media screen and (min-width: 1200px) {
    .havali_khabar{
        margin-top: 0.5rem;
        flex: 20%;
    }
}
.item_h_kh{
    position: absolute;
    top: -0.8rem;
    right: 1rem;
}
.section_three > span{
    display: block;
}

@media screen and (min-width: 1200px) {
    .section_three{
        overflow: auto;
        max-height: 32.2rem;
        padding-left: 1rem;
    }
}
.top_adds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_adds > img:last-child{
    padding-top: 0.5rem;
}

@media screen and (min-width: 1200px) {
    .top_adds{
        justify-content: start;
    }
    .top_adds > img {
        width: 100%;
        height: auto;
    }
}

/* ##### second part ##### */

.second_part{
    padding: 1rem 0;
    margin: 0 0.5rem;
    border-bottom: 1px solid var(--primary_color);
    border-top: 1px solid var(--primary_color);
}
.list_a_news{
    padding-top: 1rem;
}
.sub_l_a_n a{
    color: var(--secondary_color);
    font-size: 0.9rem;
    font-weight: bold;
}
.sub_l_a_n > a > img{
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 200/160;
    object-fit: cover;
}
.sub_l_a_n{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
}
.list_a_news{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
@media screen and (min-width: 780px) {
    .list_a_news{
        flex-direction: row;
    }
    .list_a_news > li{
        flex: 20%;
    }
}

/* ##### third part ##### */

.third_part{
    margin: 2rem 0.5rem;
    position: relative;
}
.sub_third_part{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: -1rem;
}
.sub_third_part a{
    display: block;
}
 
.list_third_part{
    color: var(--primary_color);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.list_third_part li{
    border-bottom: 1px solid var(--border_color);
    padding: 0.3rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
}
.list_third_part li:last-child{
    border-bottom: none;
}
.list_third_part li a{
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .list_third_part {
        flex-flow: row wrap;
        gap: 0 2rem;
        font-size: 1.2rem;

    }
    .list_third_part li{
        flex: 45%;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }
    .list_third_part li a{
        font-size: 0.85rem;
        font-weight: normal;
    }
}
.list_third_part svg{
    flex-shrink: 0;
}

/* ##### fourth part ##### */
.border_lines{
    border-top: 1px solid var(--primary_color);
    border-bottom: 1px solid var(--primary_color);
    margin: 1.5rem 0.5rem 0;
}
.list_sub_fourth li{
    padding: 1rem 0;
    border-bottom: 1px solid var(--primary_color);
    display: flex;
    gap: 1rem;
    align-items: center;
}
.list_sub_fourth li:last-child{
    border-bottom: none;
}
.list_sub_fourth li a{
    color: var(--black);
    font-size: 0.85rem;
}

.event{
    border: 2px solid var(--red);
    position: relative;
}
.event > span{
    position: absolute;
    top: -0.9rem;
}
.repart_event{
    position: relative;
}
.repart_event a:first-child{
    display: block;
}
.repart_event svg{
    display: block;
}
.right_event{
    position: absolute;
    top: 35%;
    padding: 0.1rem 0.4rem;
    background-color: #404040d4;
}
.left_event{
    position: absolute;
    top: 35%;
    padding: 0.1rem 0.4rem;
    left: 0;
    background-color: #404040d4;
}
.left_event_eleven{
    position: absolute;
    top: 35%;
    padding: 0.1rem 0.4rem;
    left: 3.25rem;
    background-color: #404040d4;
}
.repart_sub_fourth{
    position: relative;
}
.repart_sub_fourth a:first-child{
    display: block;
}
.sub_fourth img{
    width: 100%;
    height: auto;
    display: block;
}
.sub_fourth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}
 .event a img{
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 350/330;
    object-fit: cover;
    /* margin-top: 0.5rem; */
 }

@media screen  and (min-width: 1200px) {
    .event {
        flex: 12%;
    }
}
.container_fourth{
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media screen  and (min-width: 1200px) {
    .container_fourth{
        flex-direction: row;
        gap: 1rem;
    }
}
@media screen  and (min-width: 1200px) {
    .sub_fourth{ 
        flex-direction: row;
        padding-top: 1.5rem;
        flex: 2 36%;
        gap: 0.5rem;
    }
    .repart_sub_fourth img{
        aspect-ratio: 300/240;
        object-fit: cover;
    }
    .repart_sub_fourth {
        flex: 31%;
    }

}
.number{
    padding: 0.1rem 0.5rem;
    background-color: var(--secondary_color);
    color: var(--white);
    border-radius: 0.5rem;
    min-width: 1.6rem;
    text-align: center;
}
@media screen  and (min-width: 1200px) {
    .list_sub_fourth{
        display: flex;
        flex-wrap: wrap;
        flex: 40%;
        gap: 3rem;
        padding-bottom: 1rem;
    }
}
@media screen  and (min-width: 1200px) {
    .list_sub_fourth li{ 
        border-bottom: none;
        border-right: 4px solid var(--primary_color);
        flex: 33%;
        padding: 0;
        padding-right: 1rem;
        align-items: flex-start;
    }
}
.virtual{
    position: relative;
}
.virtual span {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
}

/* ##### fifth part ##### */

.set_border{
    border-bottom: 1px solid var(--primary_color);
    margin: 0.5rem;
    padding-bottom: 2rem;
}

.list_fifth li a{
    color: var(--black);
    font-size: 0.9rem;
}
.list_fifth li{
    border-bottom: 1px solid #adbcca;
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.list_fifth > li:last-child{
    border-bottom: none;
}
.list_fifth li span{
    padding: 0.2rem;
    background-color: var(--secondary_color);
    color: var(--white);
    display: inline-block;
    border-radius: 0.3rem;
    width: 1.5rem;
    text-align: center;
    flex-shrink: 0;
}
.fifth_part{
    margin-top: 1.5rem;
}
.img_fifth_part div a{
    display: block;
    color: var(--secondary_color);
    font-weight: bold;
    font-size: 1.1rem;
}
.img_fifth_part img{
    width: 100%;
    height: auto;
    display: block;
}
.sub_img_fifth{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sub_img_fifth a:last-child{
    align-self: flex-start;
}
.list_img_fifth li{
    border-bottom: 1px solid var(--primary_color);
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.list_img_fifth li:last-child{
    border-bottom: none;
}
.list_img_fifth li span{
    padding: 0.2rem;
    background-color: var(--primary_color);
    color: var(--white);
    display: inline-block;
    border-radius: 0.5rem;
    width: 1.5rem;
    text-align: center;
    flex-shrink: 0;
}
.list_img_fifth li a{
    color: var(--black);
    font-size: 0.9rem;
}
.img_fifth_part{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media screen and (min-width: 780px) {
    .img_fifth_part{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
}
.fifth_section_one{
    position: relative;
}
.fifth_section_tow{
    position: relative;
}
.fifth_part{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media screen and (min-width: 1200px) {
    .fifth_part{
        flex-direction: row;
        gap: 1rem;
        margin: 2rem 0.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .fifth_section_one{
        flex: 2;
    }
}
@media screen and (min-width: 1200px) {
    .fifth_section_tow{
        flex: 15%;
    }
}

/* ##### sixth part ##### */
.sixth_part{
    position: relative;
    margin-top: 2rem;
}
@media screen and (min-width: 1200px) {
    .sixth_part{
        margin-top: 1rem;
    }
}
.set_six{
    position: absolute;
    top: -3.8rem;
}
@media screen and (min-width: 1200px) {
    .set_six{
        top: -2.8rem;
    }
}

.first_img_sixth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.first_img_sixth a{
    color: var(--primary_color);
    font-size: 1.1rem;
}
.orgnize{
    align-self: flex-start;
}
/* .first_img_sixth > a{
    display: block;
} */
.first_img_sixth p{
    font-size: 0.8rem;
}
.first_img_sixth a > img{
    width: 100%;
    height: auto;
    display: block;
}
.list_sixth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
@media screen and (min-width: 1200px) {
    list_sixth{
        margin-bottom: 0;
    }
}
.list_sixth li{
    display: flex;
    gap: 1rem;
}
.list_sixth li a img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
}

.list_sixth li a:first-child{
    display: block;
    color: var(--secondary_color);
    flex: 35%;
}
.list_sixth li a:last-child{
    margin: 0;
    flex: 65%;
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--secondary_color);
    align-self: flex-start;
}

.s_i_s{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.s_i_s a img{
    width: 100%;
    height: auto;
    display: block;
}
.s_i_s a{
    color: var(--black);
    font-size: 0.9rem;
}

.s_i_s p{
    font-size: 0.8rem;
}
@media screen and (min-width: 780px) {
    .s_i_s{
        flex: 35%; 
        align-self: flex-start;       
    }
}

@media screen and (min-width: 1200px) {
    .sixth_part{
        width: 48.12rem;
        display: flex;
        gap: 1rem;
    }
}
.sixth_s{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media screen and (min-width: 1200px) {
    .sixth_s{
        flex: 20%;
    }
}
.second_img_sixth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .second_img_sixth{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.set_width{
    margin: 2rem 0;
}
@media screen and (min-width: 1200px) {
    .second_img_sixth{
        flex: 35%;
        align-self: flex-start;
    }
    .set_width{
        width: 50rem;
    }
}
.m_b{
    display: block;
}

/* ##### seventh ##### */

.first_seven{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .first_seven{
        flex-wrap: wrap;
        flex-direction: row;
    }
}
.sub_first_seven{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
@media screen and (min-width: 780px) {
    .sub_first_seven{
        flex: 25%;
    }
}
.sub_first_seven a:last-child{
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--secondary_color);
    align-self: flex-start;
}
.sub_first_seven a img{
    width: 100%;
    height: auto;
    display: block;
}

.second_seven li a{
    color: var(--black);
    font-size: 0.9rem;
}
.second_seven{
    color: var(--primary_color);
    display: flex;
    flex-direction: column;
}
.second_seven li{
    border-bottom: 1px solid #adbcca;
    padding: 0.7rem 0;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.second_seven > li:first-child{
    padding-top: 0;
}
.second_seven > li:last-child{
    padding-bottom: 0;
}
.second_seven > li:last-child{
    border-bottom: none;
}
.second_seven li svg{
    flex-shrink: 0;
}
.set_seven{
    margin: 2rem 0.5rem;
}
.seventh_part{
    position: relative;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.header_seventh{
    position: absolute;
    top: -2rem;
}
@media screen and (min-width: 1200px) {
    .seventh_part{
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px) {
    .global_seventh{
        flex: 20%;
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1200px) {
    .first_seven{
        flex:2 20%;
    }
}

/* ##### eighth part ##### */

.sub_container_one{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sub_container_one a {
    font-weight: bold;
}
.sub_container_one a img{
    width: 100%;
    height: auto;
    display: block;
}

.set_eight{
    margin: 2rem 0;
}
.eighth_part{
    position: relative;
    padding-top: 0.5rem;
}
.eighth_part h3 > a{
    font-size: 0.9rem;
    font-weight: bold;
}
.header_eighth{
    position: absolute;
    top: -2rem;
}
.container_one_eighth{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}
.container_one_eighth a{
    color: var(--black);
    display: block;
}
.container_one_eighth a:last-child{
    align-self: flex-start;
}

@media screen and (min-width: 1200px) {
    .container_one_eighth{
        flex: 1 35%;
        padding-bottom: 0;
    }
}
.linear li{
    display: flex;
    gap: 1rem;
    
}

.linear img{
    border-radius: 0.3rem;
    display: block;
}
.linear{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .linear li{
        flex-direction: column;
    }
    .linear img{
        width: 50%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    .linear li{
        flex-direction: row;
    }
    .linear img {
        width: 100%;
    }
    .linear li a:first-child{
        flex: 1 45%;
    }
    .linear li a:last-child{
        flex: 1 55%;
    }
}
.container_two_eighth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container_two_eighth a{
    color: var(--secondary_color);
    display: block;
    font-weight: bold;
}
.container_two_eighth h3{
    align-self: flex-start;
}
.container_two_eighth p {
    font-size: 0.8rem;    
}
.container_two_eighth > div:last-child{
    border-top: 1px solid var(--primary_color);
    padding-top: 1rem;
}
@media screen and (min-width: 780px) {
    .container_two_eighth > div:last-child{
        border-top: none;
        padding-top: 0;
    }
}
.container_two_eighth img{
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 1200px) {
    .eighth_part{
        display: flex;
        gap: 1rem;
    }
}
.items_c_two{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 1200px) {
    .items_c_two{
        flex-direction: row;
        gap: 1rem;
    }
    .items_c_two > a{
        flex: 2 25%;
    }
    .items_c_two div{
        flex: 1 25%;
        align-self: flex-start;
    }
}
.sub_c_eighth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sub_c_eighth a{
    align-self: flex-start;
}
/* ##### ninth part ##### */

.second_wrapper{
    max-width: 100%;
    margin: auto;
}
.ninth_section{
    background-color: var(--black);
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.sub_ninth_header {
    background-color: var(--black);
}
.sub_ninth_header span {
    background-color: var(--primary_color);
    color: var(--white);
    border-radius: 0.3rem;
    width: 60%;
    text-align: center;
}
.header_ninth{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--primary_color);
    position: relative;
    margin: 1rem;
    margin-bottom: 3rem;
    top: 2rem;
}
@media screen and (min-width: 1200px) {
    .header_ninth{
        width: 30%;
        margin-right: 26rem;
    }
}
.sub_ninth_header{
    display: flex;
    justify-content: center;
    width: 30%;
    position: absolute;
    top: -0.9rem;
}
.ninth_part{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    .ninth_part{
        /* display: flex; */
        flex-direction: row;
        gap: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0;
        align-items: flex-start;
    }
}
.item_f_n{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.item_f_n > a{
    display: block;
}
.item_f_n span a{
    font-size: 1rem;
}
.item_f_n a img{
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 1200px) {
    .item_f_n{
        flex: 1 50%;
        gap: 1rem;
    }
}
.ninth_part a{
    color: var(--white);
}


.list_ninth_part > li > a{
    display: block;
}
.list_ninth_part a{
    font-size: 1rem;
}
.item_f_n span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.item_f_n span svg{
    flex-shrink: 0;
}
.list_ninth_part svg{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50%;
}
.list_ninth_part > li{
    position: relative;
}
.list_ninth_part{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.set{
    position: absolute;
    background-color: rgba(55, 55, 55, 0.6);
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
    
}

@media screen and (min-width: 780px) {
    .list_ninth_part {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .list_ninth_part > li{
        flex: 32%;
        align-self: flex-start;
    }
}
@media screen and (min-width: 1200px) {
    .list_ninth_part {
        flex: 1 50%;
        align-items: flex-start;
    }
}

.elim_width > a{
    position: relative;
}
.elim_width a img{
    width: 100%;
    height: auto;
    display: block;
}

/* ##### tenth part ##### */

.tenth_part{
    padding: 1rem;
    background-color: #dddddd;
    margin-top: 2rem;
    position: relative;
}
.tenth_part img{
    width: 100%;
    height: auto;
    display: block;
}

.report{
    position: absolute;
    top: -1rem;
}

.sub_f_c{
    position: relative;
    display: block;
}
.sub_f_c a{
    display: block;
}
.set_division{
    flex: 37%;
}
.set_division_t{
    flex: 26%;
}
.set_pos{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(55, 55, 55, 0.6);
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: flex-start;
}
.set_pos a{
    color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
}

.setting_tenth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
}
.first_container_tenth > li a{
    display: block;
    font-weight: bold;
}
.first_container_tenth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 1200px) {
    .first_container_tenth{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }
}
.sub_f_t{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-start;
}
.sub_f_t a{
    color: var(--secondary_color);
    font-size: 1rem;
    align-self: flex-start;
    font-weight: bold;
}

.sub_f_t p{
    font-size: 0.8rem;
    color: var(--black);
    font-size: 0.8rem;
}
.first_container_tenth a{
    font-weight: bold;
}
.second_container_tenth{
    border-top: 1px solid var(--primary_color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 1200px) {
    .second_container_tenth{
        flex-direction: row;
        border-top: none;
        padding-top: 1rem;
        gap: 1rem;
    }
}
/* ##### eleventh part ##### */
.pavaraghi{
    padding: 0.3rem;
    background-color: var(--black);
    width: 4rem;
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
}
.container_pa{
    position: absolute;
    padding-bottom: 1rem;
    top: -0.8rem;
    right: 3.2rem;
}
.eleventh_part{
    padding: 1.5rem;
    background: linear-gradient(90deg, #085093 0%, #001c37 100%);
    margin-top: 2rem;
    position: relative;
}
.list_eleventh{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list_eleventh li{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.list_eleventh a:last-child{
    color: var(--white);
    font-size: 1rem;
    display: block;
    align-self: flex-start;
    font-weight: bold;
}
.list_eleventh img{
    width: 100%;
    height: auto;
    display: block;
}
.list_eleventh li a:first-child{
    display: block;
}
@media screen and (min-width: 780px) {
    .list_eleventh{
        flex-direction: row;
    }
    .list_eleventh li{
        flex:1 20%;
        gap: 0.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .list_eleventh{
        flex-wrap: nowrap;
    }
}

/* ##### twelfth part ##### */

.twelfth_part{
    margin-top: 2rem;
    position: relative;
}
.container_h{
    position: absolute;
    top: -1rem;
    right: 6rem;
}

.list_tw > li{
    border: 1px solid var(--primary_color);
    text-align: center;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
}
.list_tw > li > a{
    color: var(--black);
}
@media screen and (min-width: 1200px) { 
    .list_tw > li > a{
        font-size: 0.8rem;
        font-weight: bold;
    } 
    .list_tw{
        display: flex;
        flex: 1;
        gap: 1rem;
        padding-top: 1.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .content_tw{
        display: flex;
        justify-content: center;
        margin: 1rem 5rem;
    }
}

/* ###########  footer ########### */

/* ##### first footer ##### */

.set_f_b{
    background-color: var(--primary_color);
}
.list_footer{
    display: flex;
    padding: 0.2rem;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.list_footer > li > a{
    color: var(--white);
    font-size: 0.9rem;
}
@media screen and (min-width: 1200px) {
    .list_footer > li{
        flex: none;
    }

}

/* ##### second footer ##### */

.set_s_b{
    background-color: #1d1f27;
    padding: 0.3rem;
}
.second_footer > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .second_footer > div{
        padding: 0;
        flex: 25%;
        align-items: normal;
    }
}
.second_footer{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.second_footer a{
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
}
.second_footer span{
    color: var(--red);
    font-weight: bold;
}
.second_footer li:not(:last-child){
    border-bottom: 3px dotted #555;
}

.second_footer li {
    padding: 0.5rem 0;
}
.second_footer h4 {
    color: var(--white);
}

@media screen and (min-width: 780px) {
    .second_footer{
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (min-width: 780px){
    .s_f > h4{
        width: 100%;
    }
    .s_f :last-child{
        border-bottom: none;
    }
}

.sub_second_f > div{
    border-bottom: none !important;
    display: flex;
}
.sub_second_f div svg{
    display: block;
}
.sub_second_f{
    border-bottom: 3px dotted #555;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 780px) {
    .sub_second_f{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .second_footer{
        gap: 3rem;
    }
}

/* ##### third footer ##### */

.top_third_f{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.top_third_f > a > svg{
    display: block;
}
.set_th_b{
    background-color: #2e3037;
}

.center_third_f > p{
    color: var(--white);
    font-size: 0.8rem;
}
.bottom_third_f > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.bottom_third_f > a >p{
    font-size: 0.8rem;
    color: var(--white);
}
.third_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1200px) {
    .third_footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}