body{
    font-family: "iran_sans";
    margin: 0;
}

@font-face {
    font-family: "iran_sans";
    src: url("../fonts/IRANSansX-Regular.woff2") format("woff");
}
@font-face {
    font-family: "iran_sans_bold";
    src: url("../fonts/IRANSans-Bold-web.woff2") format("woff");
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
h4{
    margin: 0;
}
p{
    margin: 0;
}
button{
    border: none;
    padding: 0;
    background-color: transparent;
}

:root{
    --primary_color: #ed6a00;
    --secondary_color: #003261;
    --white: #fff;
    --black: #000;
    --red: #cf000f;
    --border_color: #f5ab70;
}


/* ########## header ########## */

/* ##### top header ##### */

.main_wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.f_top_header{
    /* margin: 0; */
    background-color: var(--secondary_color);
    padding: 0.3rem;
}
@media screen and (min-width: 1200px) {
    .f_top_header{
        padding: 0.1rem;
        padding-left: 7rem;
    }
}
.top_header{
    /* background-color: var(--secondary_color); */
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 1200px) {
    .top_header{
        justify-content: end;
        gap: 5rem;
    }
}
.time{
    color: var(--white);
    font-size: 0.65rem;
    /* display: block; */
}
@media screen and (min-width: 780px) {
    .time{
        font-size: 0.8rem;
        font-weight: bold;
    }
}
@media screen and (min-width: 1200px) {
    .time{
        /* justify-content: end; */
        padding-top: 0.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .list_top_header{
        display: flex;
        gap: 3rem;
    }
}

.inner_list_header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.7rem;
}
.inner_list_header > li > a {
    color: var(--white);
    font-size: 0.65rem;
    display: block;
}
@media screen  and (min-width: 780px) {
    /* .inner_list_header{
        gap: 1rem;
    } */
    .inner_list_header > li > a{
        font-size: 0.8rem;
    }
}
@media screen  and (min-width: 1200px) {
    .inner_list_header{
        padding: 0;
        gap: 0.5rem;
        justify-content: end;
    }
    /* .inner_list_header > li:last-child{
        padding-left: 3rem;
    } */
}
.search_desktop{
    display: none;
}
.search_desktop > svg{
    display: block;
}
@media screen  and (min-width: 1200px) {
    .search_desktop{
        display: block;
        cursor: pointer;
    }
}

/* ##### bottom header ##### */

.bottom_header::after{
    clear: both;
    content: "";
    display: table;
}
.bottom_header::before{
    clear: both;
    content: "";
    display: table;
}

.bottom_header{
    background-color: var(--primary_color);
    padding: 0.2rem;
}
@media screen and (min-width: 1200px) {
    .b_h{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.second_bottom_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.merge_m_s{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menu_mobile > svg{
    display: block;
    cursor: pointer;
}
.search_mobile > svg{
    display: block;
    cursor: pointer;
}
@media screen and (min-width: 1200px) {
    .search_mobile{
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .menu_mobile{
        display: none;
    }
}

.logo_header > a{
    display: block;
}
.logo_header > a > img{
    display: block;
    width: 100%;
    height: auto;
}
.list_header_desktop{
    display: none;
}

@media screen and (min-width: 1200px) {
    .list_header_desktop{
        display: block;
        padding-right: 4rem;
    }
}
@media screen and (min-width: 1200px) {
    .sub_list_h_d{
        display: flex;
        gap: 1rem;
    }
    .sub_list_h_d > li > a{
        color: var(--white);
        font-size: 0.82rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }
    .sub_list_h_d > li:first-child > a{
        border-bottom: 2px solid #fff;
        
    }

}

.list_price_second{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.list_price_second > li{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.list_price_second > li > a{
    color: var(--black);
    font-size: 0.86rem;
    font-weight: bold;
}
.list_price_second > li > span{
    color: var(--red);
    font-size: 1.2rem;
    font-weight: bold;
}
.list_price_second > li > a >span{
    color: var(--red);
    font-size: 1.1rem;
}

@media screen and (min-width: 1200px) {
    .price_header_desktop{
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .sub_price_h_d{
        display: flex;
        gap: 0.7rem;
    }
    .sub_price_h_d > li > a > b{
        color: var(--red);
    }
    .sub_price_h_d > li > a{
        color: var(--black);
    }
}


/* ########## main body ########## */
/* ##### first part ##### */

.first_box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/*  ############################################################################# */
@media screen and (min-width: 1200px) {
    .first_box{
        flex: 36%;
    }
}

/* .bottom_first_box{
    margin-top: 2rem !important;
} */
/* .bottom_first_box > span{
    display: block;
} */
/* @media screen and (min-width: 1200px) {
    .bottom_first_box{
        margin-top: 1rem !important;
    }
} */
.g_box{
    /* margin: 0.5rem 0.5rem; */
    padding: 1rem;
    padding-bottom: 1.3rem;
    box-shadow: 0 0 7px 0 rgba(215,60,0,0.26);
}
.first_part{
    border-bottom: 1px solid var(--primary_color);
    /* padding-top: 3rem; */
    /* padding-bottom: 1rem; */
    padding: 3rem 0.5rem 1rem 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


@media screen and (min-width: 1200px) {
    .first_part{
        flex-direction: row;
        gap: 1rem;
    }
}

.inner_box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header_inner_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header_inner_box > h1 > a{
    color: var(--primary_color);
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}
.header_inner_box > p{
    color: #888;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}

.inner_box > a > img{
    width: 100%;
    height: auto;
    display: block;
}
.inner_box > a{
    display: block;
}

@media screen and (min-width: 1200px) {
    .inner_box > a > img{
        width: auto;
        height: auto;
    }
}
.sub_bottom > li > a{
    color: var(--black);
    font-size: 0.85rem;
    font-weight: bold;
}
.sub_bottom > li{
    /* list-style-type: square; */
    display: flex;
    gap: 1rem;
}
/* .sub_bottom{
    color: var(--primary_color);
    padding: 0 1.5rem;
    font-size: 1.4rem;
} */

.sub_bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 1200px) {
    .sub_bottom{
        flex-direction: row;
        gap: 2rem;
        /* line-height: 1.4rem; */
    }
}
.g_item{
    color: var(--primary_color);
    font-size: 0.9rem;
    /* display: block;
    text-align: left; */
}
.g_item_blue{
    color: var(--secondary_color) !important; 
}
.set_g_item{
    display: flex;
    justify-content: end;
    padding-top: 0.5rem;
}
.global_item{
    display: flex;
    justify-content: left;
    width: 100%;
}
.global_item > a{
    color: var(--primary_color) !important;
    font-size: 0.9rem;
    display: block;
    text-align: left;
    padding-top: 0.5rem;
}
.global_title_b{
    padding: 0.1rem 1rem;
    background-color: var(--secondary_color);
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    margin-top: 0;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: "iran_sans_bold";
}
.global_title_o{
    padding: 0.1rem 1rem;
    background-color: var(--primary_color);
    /* width: 7rem; */
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    /* margin-top: 0; */
    font-weight: bold;
    font-size: 0.75rem;
    font-family: "iran_sans_bold";
}
.global_title_r{
    padding: 0.1rem;
    background-color: var(--red);
    width: 5rem;
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    margin-top: 0;
    /* margin-bottom: 1rem; */
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "iran_sans_bold";
}
.global_pos{
    position: absolute;
    top: -1rem;
}
.t_t > p{
    padding: 0.5rem;
    background-color: var(--secondary_color);
    margin: 0;
}
.border{
    border-bottom: 1px solid var(--border_color);
    width: 75%;
    align-self: center;
}
.parent_border{
    justify-content: center;
}

.set_flex{
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}
@media screen and (min-width: 1200px) {
    .set_flex{
        align-items: center;
    }
}
.set_flex > a > img{
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
    display: block;
}

.top_second_item > li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}
.top_second_item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.top_second_item > li:last-child{
    border-bottom: none;
}
.set_flex > a{
    color: var(--black);
    font-size: 0.8rem;
    font-weight: bold;
}
/* @media screen and (min-width: 1200px) {
    .top_second_item{
        font-size: 0.85rem;
    }
} */
.titr_em{
    position: relative;
    /* margin-top: 2rem; */
    
}
/* ################################################################################## */
@media screen and (min-width: 1200px) {
    .titr_em{
        flex: 25%;
        margin-top: 0.5rem;
    }
}

.titr_emroz{
    position: absolute;
    right: 1.5rem;
    top: -0.8rem;
}
.titr_emroz > span{
    display: inline-block;
}
@media screen and (min-width: 1200px) {
    .scroll_right{
        padding-left: 0;
    }
    .distance{
        padding-left: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .second_part_top{
        overflow: auto;
        max-height: 32.2rem;
        padding-left: 0.5rem;
    }
}
.second_part_top > span{
    display: block;
}
.sub_part_three{
    color: var(--primary_color);
    /* font-size: 1.3rem; */
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sub_part_three > li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sub_part_three > li > div:first-child{
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    /* padding-bottom: 1rem; */
}
.sub_part_three > li > div > a{
    color: var(--black);
    font-size: 0.85rem;
    /* display: block;
    font-weight: bold; */
}
@media screen and (min-width: 1200px) {
    .sub_part_three > li > div > a{
        font-weight: normal;
        font-size: 0.8rem;
    }
}
.sub_part_three svg{
    flex-shrink: 0;
}
/* .more_items > span{
    display: block;
} */

/* .sep{
    background-color: var(--border_color);
    width: 90%;
    display: block;
    padding: 0.5px 0;
    margin: 8px 0;
    margin-right: 4%;
} */

.havali_khabar{
    position: relative;
    /* margin-top: 2rem; */
}
/* ################################################################################ */
@media screen and (min-width: 1200px) {
    .havali_khabar{
        margin-top: 0.5rem;
        flex: 20%;
    }
}
.item_h_kh{
    position: absolute;
    top: -0.8rem;
    right: 1rem;
}
/* @media screen and (min-width: 1200px) {
    .item_h_kh{
        top: -0.8rem;
    }
} */
/* .section_three{
    padding-right: 1rem;
} */
.section_three > span{
    display: block;
}

@media screen and (min-width: 1200px) {
    .section_three{
        overflow: auto;
        max-height: 32.2rem;
        padding-left: 1rem;
    }
}
.top_adds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_adds > img:last-child{
    padding-top: 0.5rem;
}

@media screen and (min-width: 1200px) {
    .top_adds{
        justify-content: start;
    }
    .top_adds > img {
        width: 100%;
        height: auto;
    }
}

/* ##### second part ##### */

.second_part{
    padding: 0 0.5rem;
    border-bottom: 1px solid var(--primary_color);
}
/* .list_a_news > li > a:first-child{
    display: block;
} */
.list_a_news{
    padding: 1rem 0;
}
.sub_l_a_n a{
    color: var(--secondary_color);
    font-size: 0.9rem;
    font-weight: bold;
}
.sub_l_a_n > a > img{
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 200/160;
    object-fit: cover;
}
.sub_l_a_n{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.list_a_news{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
@media screen and (min-width: 780px) {
    .list_a_news{
        flex-direction: row;
    }
    .list_a_news > li{
        flex: 20%;
    }
}

/* ##### third part ##### */

.third_part{
    margin: 2rem 0.5rem;
    position: relative;
}
.sub_third_part{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: -1rem;
}
/* .sub_third_part > h2:not(:first-child) > a{
    width: 4rem;
} */
.sub_third_part a{
    display: block;
}
 
.list_third_part{
    /* padding: 1rem; */
    /* padding-top: 0; */
    /* list-style-type: square; */
    color: var(--primary_color);
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    font-size: 1.5rem;
}


.list_third_part li{
    border-bottom: 1px solid var(--border_color);
    padding: 0.3rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
}
.list_third_part li:last-child{
    border-bottom: none;
}
.list_third_part li a{
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .list_third_part {
        flex-flow: row wrap;
        gap: 0 2rem;
        font-size: 1.2rem;

    }
    .list_third_part li{
        flex: 45%;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }
    .list_third_part li a{
        font-size: 0.85rem;
        font-weight: normal;
    }
}
.list_third_part svg{
    flex-shrink: 0;
}

/* ##### fourth part ##### */
.border_lines{
    border-top: 1px solid var(--primary_color);
    margin-top: 1.5rem;
}
.list_sub_fourth li{
    padding: 1rem 0;
    border-bottom: 1px solid var(--primary_color);
    display: flex;
    gap: 1rem;
}
.list_sub_fourth li a{
    color: var(--black);
    font-size: 0.85rem;
}

.event{
    /* width: 95%; */
    /* height: auto; */
    /* padding: 1rem; */
    /* margin-top: 2rem; */
    /* text-align: center; */
    /* padding-top: 1rem; */
    border: 2px solid var(--red);
    position: relative;
}
.event span{
    position: absolute;
    top: -1rem;
}
.event a{
    display: block;
    position: relative;
}
.sub_fourth > a{
    display: block;
    position: relative;
}
.sub_fourth img{
    width: 100%;
    height: auto;
    display: block;
}
.sub_fourth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}
 .event a img{
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 360/330;
    object-fit: cover;
    margin-top: 0.5rem;
 }

@media screen  and (min-width: 1200px) {
    .event {
        /* margin-top: 0.5rem; */
        flex: 10%;
    }
}
.container_fourth{
    /* padding-top: 1rem; */
    border-bottom: 1px solid var(--primary_color);
    /* padding-bottom: 1rem; */
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media screen  and (min-width: 1200px) {
    .container_fourth{
        flex-direction: row;
        gap: 1rem;
    }
}
@media screen  and (min-width: 1200px) {
    .sub_fourth{ 
        flex-direction: row;
        padding-top: 1.5rem;
        flex: 2 36%;
        gap: 0.5rem;
    }
    .sub_fourth > a >img{
        aspect-ratio: 310/257;
        object-fit: cover;
        /* display: block; */
    }
    .sub_fourth > a {
        flex: 22%;
    }

}
.number{
    align-self: baseline;
}
.number span{
    padding: 0.1rem;
    background-color: var(--secondary_color);
    color: var(--white);
    display: inline-block;
    border-radius: 0.5rem;
    width: 1.5rem;
    text-align: center;
}
@media screen  and (min-width: 1200px) {
    .list_sub_fourth{
        display: flex;
        flex-wrap: wrap;
        flex: 40%;
        gap: 1rem;
    }
}
@media screen  and (min-width: 1200px) {
    .list_sub_fourth li{ 
        border-bottom: none;
        border-right: 4px solid var(--primary_color);
        flex: 10rem;
        max-height: 6rem;
        padding: 0;
        padding-right: 1rem;
        align-items: flex-start;
        /* display: flex;
        gap: 1rem; */
    }
}
.virtual{
    position: relative;
}
.virtual span {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
}

/* ##### fifth part ##### */

.list_fifth li a{
    color: var(--black);
    font-size: 0.9rem;
}
.list_fifth li{
    border-bottom: 1px solid #adbcca;
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.list_fifth > li:last-child{
    border-bottom: none;
}
.list_fifth li span{
    padding: 0.2rem;
    background-color: var(--secondary_color);
    color: var(--white);
    display: inline-block;
    border-radius: 0.3rem;
    width: 1.5rem;
    text-align: center;
}
.fifth_part{
    margin-top: 1.5rem;
}
.img_fifth_part > div > a{
    display: block;
    color: var(--secondary_color);
    font-weight: bold;
}
.img_fifth_part img{
    width: 100%;
    height: auto;
    display: block;
}
/* @media screen and (min-width: 1200px) {
    .img_fifth_part > div > a >img{
        padding: 0.3rem;
    }
} */

.list_img_fifth li{
    border-bottom: 1px solid var(--primary_color);
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.list_img_fifth li:last-child{
    border-bottom: none;
}
.list_img_fifth li span{
    padding: 0.2rem;
    background-color: var(--primary_color);
    color: var(--white);
    display: inline-block;
    border-radius: 0.5rem;
    width: 1.5rem;
    text-align: center;
}
.list_img_fifth li a{
    color: var(--black);
    font-size: 0.9rem;
}
.img_fifth_part{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media screen and (min-width: 780px) {
    .img_fifth_part{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
}
.fifth_section_one{
    position: relative;
}
.fifth_section_tow{
    position: relative;
}
.fifth_part{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0.5rem;
}
@media screen and (min-width: 1200px) {
    .fifth_part{
        flex-direction: row;
        gap: 1rem;
        margin-top: 2rem;
    }
}
@media screen and (min-width: 1200px) {
    .fifth_section_one{
        flex: 2;
    }
}
@media screen and (min-width: 1200px) {
    .fifth_section_tow{
        flex: 15%;
    }
}

/* ##### sixth part ##### */
.sixth_part{
    position: relative;
    margin-top: 2rem;
}
@media screen and (min-width: 1200px) {
    .sixth_part{
        margin-top: 1rem;
    }
}
.set_six{
    position: absolute;
    top: -2.8rem;
}

.first_img_sixth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.first_img_sixth h2 a{
    color: var(--primary_color);
    font-size: 1.1rem;
}
.first_img_sixth > a{
    display: block;
}
.first_img_sixth p{
    font-size: 0.8rem;
}
.first_img_sixth a > img{
    width: 100%;
    height: auto;
    display: block;
}
.list_sixth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.list_sixth li{
    display: flex;
    gap: 1rem;
}
.list_sixth li a img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
}

.list_sixth > li > a{
    display: block;
    color: var(--secondary_color);
    font-size: 0.9rem;
    flex: 35%;
}
.list_sixth li h3{
    margin: 0;
    flex: 65%;
}
.list_sixth li h3 a{
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--secondary_color);
}
.s_i_s{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.s_i_s > a{
    display: block;
}
.s_i_s a img{
    width: 100%;
    height: auto;
    display: block;
}
.s_i_s h3 a{
    color: var(--black);
    font-size: 0.9rem;
}
.s_i_s p{
    font-size: 0.8rem;
}
@media screen and (min-width: 780px) {
    .s_i_s{
        flex: 35%;        
    }
}
/* @media screen and (min-width: 780px) {
    .s_i_s{
        flex: 150px;        
    }
} */
/* .third_img_sixth > span{
    color: var(--primary_color);
    text-align: left;
    display: block;
    padding: 1rem;
    margin-top: 2rem;
} */
@media screen and (min-width: 1200px) {
    .sixth_part{
        width: 48.12rem;
        display: flex;
        gap: 1rem;
    }
}
.sixth_s{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media screen and (min-width: 1200px) {
    .sixth_s{
        flex: 20%;
    }
}
.second_img_sixth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .second_img_sixth{
        flex-direction: row;
        flex-wrap: wrap;
        /* gap: 1rem; */
    }
}
.set_width{
    margin: 2rem 0.5rem;
}
@media screen and (min-width: 1200px) {
    .second_img_sixth{
        flex: 35%;
        max-height: 40rem;
    }
    .set_width{
        width: 50rem;
    }
}
.m_b{
    display: block;
}

/* ##### seventh ##### */

.first_seven{
    /* border-bottom: 1px solid var(--primary_color); */
    /* padding-bottom: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .first_seven{
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: row;
    }
    /* .first_seven{
        border-bottom: none;
    } */
}
.sub_first_seven{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
@media screen and (min-width: 780px) {
    .sub_first_seven{
        flex: 25%;
    }
}
.sub_first_seven h3 a{
    font-size: 0.9rem;
    color: var(--secondary_color);
    display: block;
}
.sub_first_seven a img{
    width: 100%;
    height: auto;
    display: block;
}
.sub_first_seven > a{
    display: block;
}

.second_seven li a{
    color: var(--black);
    font-size: 0.9rem;
}
.second_seven{
    color: var(--primary_color);
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    /* padding: 0 1rem; */

}
.second_seven li{
    border-bottom: 1px solid #adbcca;
    padding: 0.5rem 0;
}
.second_seven > li:first-child{
    padding-top: 0;
}
.second_seven > li:last-child{
    padding-bottom: 0;
}
.second_seven > li:last-child{
    border-bottom: none;
}
/* @media screen and (min-width: 780px) {
    .second_seven{
        padding: 0 1.5rem;
    }
} */
/* .more_items_second{
    display: block;
    padding-top: 0.5rem;
} */
.set_seven{
    margin: 2rem 0.5rem;
}
.seventh_part{
    position: relative;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.header_seventh{
    position: absolute;
    top: -2rem;
    /* width: 10%; */
}
@media screen and (min-width: 1200px) {
    .seventh_part{
        /* gap: 3rem; */
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px) {
    .global_seventh{
        flex: 20%;
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1200px) {
    .first_seven{
        flex:2 20%;
    }
}

/* ##### eighth part ##### */

.sub_container_one{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sub_container_one > a {
    display: block;
}
.sub_container_one a img{
    width: 100%;
    height: auto;
    display: block;
}
/* .sub_container_one > h3{
    padding-bottom: 2rem;
} */

.set_eight{
    margin: 2rem 0.5rem;
}
.eighth_part{
    position: relative;
    padding-top: 0.5rem;
}
.eighth_part h3 > a{
    font-size: 0.9rem;
    font-weight: bold;
}
.header_eighth{
    position: absolute;
    top: -2rem;
}
.container_one_eighth{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}
.container_one_eighth h3 a{
    color: var(--black);
    display: block;
}
/* @media screen and (min-width: 780px) {
    .container_one_eighth{
        display: flex;
    }
} */
/* @media screen and (min-width: 780px) {
    .sub_container_one{
        padding-left: 0.5rem;
    }
} */

@media screen and (min-width: 1200px) {
    .container_one_eighth{
        /* display: block; */
        flex: 1 35%;
        padding-bottom: 0;
        /* flex-direction: column; */
        /* padding-left: 0.5rem; */
    }
}
.linear li{
    display: flex;
    gap: 1rem;
    
}
/* .linear > li > a{
    padding-left: 0.4rem;
    padding-bottom: 1.5rem;
} */
.linear img{
    border-radius: 0.3rem;
    display: block;
}
.linear{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .linear li{
        flex-direction: column;
    }
    .linear img{
        width: 50%;
        height: auto;
    }
}
/* @media screen and (min-width: 780px) {
    .linear img{
        width: 100%;
        height: auto;
    }
} */
@media screen and (min-width: 1200px) {
    .linear li{
        flex-direction: row;
    }
    .linear img {
        width: 100%;
    }
}
.container_two_eighth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container_two_eighth h3 > a{
    color: var(--secondary_color);
    display: block;
}
.container_two_eighth p {
    font-size: 0.8rem;    
}
.container_two_eighth > div:last-child{
    border-top: 1px solid var(--primary_color);
}
@media screen and (min-width: 780px) {
    .container_two_eighth > div:last-child{
        border-top: none;
        /* padding-top: 1rem; */
    }
}
.container_two_eighth img{
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 1200px) {
    .eighth_part{
        display: flex;
        /* align-items: center; */
        gap: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .items_c_two{
        display: flex;
        gap: 1rem;
    }
    .items_c_two > a{
        flex: 2 25%;
    }
    .items_c_two > div{
        flex: 1 25%;
    }
}
.sub_c_eighth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ##### ninth part ##### */

.second_wrapper{
    max-width: 100%;
    margin: auto;
}
.ninth_section{
    background-color: var(--black);
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.sub_ninth_header {
    background-color: var(--black);
}
.sub_ninth_header span {
    background-color: var(--primary_color);
    color: var(--white);
    border-radius: 0.3rem;
    width: 60%;
    text-align: center;
}
.header_ninth{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--primary_color);
    position: relative;
    margin: 1rem;
    margin-bottom: 3rem;
    top: 2rem;
}
@media screen and (min-width: 1200px) {
    .header_ninth{
        width: 30%;
        margin-right: 26rem;
    }
}
.sub_ninth_header{
    display: flex;
    justify-content: center;
    width: 30%;
    position: absolute;
    top: -0.9rem;
}
.ninth_part{
    padding: 1rem;
}

/* @media screen and (min-width: 780px) {
    .ninth_part{
        padding: 1rem;
    }
} */
@media screen and (min-width: 1200px) {
    .ninth_part{
        display: flex;
        gap: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0;
        align-items: flex-start;
    }
}
.item_f_n > a{
    display: block;
}
.item_f_n h3 a{
    font-size: 1rem;
}
.item_f_n a img{
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 1200px) {
    .item_f_n{
        flex: 1 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
.ninth_part a{
    color: var(--white);
}


.list_ninth_part > li > a{
    display: block;
}
.list_ninth_part a{
    font-size: 1rem;
}
.item_f_n > h3{
    display: flex;
    /* padding-bottom: 1rem; */
}
.list_ninth_part span{
    display: block;
    position: absolute;
    top: -1rem;
    right: 45%;
}
.list_ninth_part > li{
    position: relative;
    /* margin-bottom: 1rem; */
}
.list_ninth_part{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.set{
    position: absolute;
    background-color: rgba(55, 55, 55, 0.6);
    padding: 0.5rem;
    /* width: 100%; */
    bottom: 0;
}
@media screen and (min-width: 780px) {
    .list_ninth_part {
        flex-direction: row;
        flex-wrap: wrap;
        /* gap: 1rem; */
    }
    .list_ninth_part > li{
        flex: 32%;
    }
}
@media screen and (min-width: 1200px) {
    .list_ninth_part {
        flex: 1 50%;
        align-items: flex-start;
    }
}

.elim_width > a{
    position: relative;
}
.elim_width a img{
    width: 100%;
    height: auto;
    display: block;
}

/* ##### tenth part ##### */

.tenth_part{
    padding: 1rem;
    background-color: #dddddd;
    margin-top: 2rem;
    position: relative;
}
.tenth_part img{
    width: 100%;
    height: auto;
    display: block;
}

.report{
    position: absolute;
    top: -1rem;
}
/* .sub_f_c{
    margin-bottom: 0.5rem;
} */
.sub_f_c > a{
    position: relative;
    display: block;
}
.set_division{
    flex: 37%;
}
.set_division_t{
    flex: 26%;
}
.set_pos{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(55, 55, 55, 0.6);
    width: 100%;
}
.set_pos > h3{
    color: var(--white);
}

/* .first_container_tenth{
    padding-top: 1rem;
} */
.setting_tenth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
}
.first_container_tenth > li > a{
    display: block;
}
.first_container_tenth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 1200px) {
    .first_container_tenth{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }
}
.sub_f_t{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sub_f_t h3 a{
    color: var(--secondary_color);
    font-size: 1rem;
}

.sub_f_t p{
    font-size: 0.8rem;
    color: var(--black);
    font-size: 0.8rem;
}

.second_container_tenth{
    border-top: 1px solid var(--primary_color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 1200px) {
    .second_container_tenth{
        flex-direction: row;
        border-top: none;
        padding-top: 1rem;
        gap: 1rem;
    }
}
/* ##### eleventh part ##### */
.pavaraghi{
    padding: 0.3rem;
    background-color: var(--black);
    width: 4rem;
    text-align: center;
    color: var(--white);
    border-radius: 0.3rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
}
.container_pa{
    position: absolute;
    padding-bottom: 1rem;
    top: -2rem;
}
.eleventh_part{
    padding: 1.5rem;
    background: linear-gradient(90deg, #085093 0%, #001c37 100%);
    margin-top: 2rem;
    position: relative;
}
.list_eleventh{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list_eleventh h3 > a{
    color: var(--white);
    font-size: 1rem;
    display: block;
}
.list_eleventh img{
    width: 100%;
    height: auto;
    display: block;
}
.list_eleventh > li > a{
    display: block;
}
@media screen and (min-width: 780px) {
    .list_eleventh{
        flex-direction: row;
    }
    .list_eleventh > li{
        flex:1 20%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .list_eleventh{
        flex-wrap: nowrap;
    }
}

/* ##### twelfth part ##### */

.twelfth_part{
    margin-top: 2rem;
    position: relative;
}
.container_h{
    position: absolute;
    top: -1rem;
    right: 6rem;
}

/* .list_tw{
    margin: 0;
} */
.list_tw > li{
    border: 1px solid var(--primary_color);
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
}
.list_tw > li > a{
    color: var(--black);
}
@media screen and (min-width: 1200px) { 
    .list_tw > li > a{
        font-size: 0.8rem;
        font-weight: bold;
    } 
    .list_tw{
        display: flex;
        flex: 1;
        gap: 1rem;
    }
    /* .list_tw > li{
        margin: 0.5rem;
    } */
}
@media screen and (min-width: 1200px) {
    .content_tw{
        display: flex;
        justify-content: center;
        margin: 1rem 5rem;
    }
}

/* ###########  footer ########### */

/* ##### first footer ##### */

.set_f_b{
    background-color: var(--primary_color);
}
.list_footer{
    display: flex;
    padding: 0.2rem;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.list_footer > li > a{
    color: var(--white);
    font-size: 0.9rem;
}
@media screen and (min-width: 1200px) {
    .list_footer > li{
        flex: none;
    }

}

/* ##### second footer ##### */

.set_s_b{
    background-color: #1d1f27;
    padding: 0.3rem;
}
.second_footer > div{
    /* padding: 1rem 0; */
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
@media screen and (min-width: 780px) {
    .second_footer > div{
        padding: 0;
        flex: 25%;
        align-items: normal;
        /* gap: 1rem; */
    }
}
.second_footer{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-items: center; */
}
/* @media screen and (min-width: 1200px) {
    .second_footer{
        padding: 1rem 0;
    }
} */
.second_footer a{
    color: var(--white);
    font-size: 0.8rem;
    font-weight: bold;
}
.second_footer span{
    color: var(--red);
    font-weight: bold;
}
.second_footer li:not(:last-child){
    border-bottom: 3px dotted #555;
}

.second_footer li {
    padding: 0.5rem 0;
}
.second_footer h4 {
    color: var(--white);
}

@media screen and (min-width: 780px) {
    .second_footer{
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (min-width: 780px){
    .s_f > h4{
        width: 100%;
    }
    .s_f :last-child{
        border-bottom: none;
    }
}
/* @media screen and (min-width: 1200px){
    .s_f{
        width: 30%;
    }
} */
.sub_second_f > li{
    border-bottom: none !important;
    display: flex;
}
.sub_second_f > li > span > svg{
    display: block;
}
.sub_second_f{
    border-bottom: 3px dotted #555;
    /* padding: 1rem 0; */
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 780px) {
    .sub_second_f{
        flex-direction: row;
        justify-content: space-between;
    }
    /* .sub_second_f > li{
        flex: 1 160px;
    } */
}
/* @media screen and (min-width: 1200px){
    .sub_second_f > li {
        flex: 100px;
    }

} */
@media screen and (min-width: 1200px) {
    .second_footer{
        gap: 3rem;
    }
}

/* ##### third footer ##### */

.top_third_f{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.top_third_f > a > svg{
    display: block;
}
.set_th_b{
    background-color: #2e3037;
}

/* .third_footer > div{
    text-align: center;
} */
.center_third_f > p{
    color: var(--white);
    font-size: 0.8rem;
}
.bottom_third_f > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.bottom_third_f > a >p{
    font-size: 0.8rem;
    color: var(--white);
}
.third_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1200px) {
    .third_footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}